<header>
	<h1>add a new note</h1>
</header>

<section>
	<p>why don't'cha?</p>

	<%= form_for @note do |f| %>
	<p>
		<%= f.label :title %><br>
		<%= f.text_field :title %>
	</p>
	<p>
		<%= f.label :note %><br>
		<%= f.text_area :note, cols: 40, rows: 7 %>
	</p>
	<p>
		<%= f.submit %> | <%= link_to 'cancel', notes_path %>
	</p>
	<% end %>
</section>
