<header>
	<h1>add a new note</h1>
</header>

<section>
	<p>why don't'cha?</p>
	<p>please</p>

	<%= form_for @note do |f| %>
	<p>
		<%= f.label :title %> <%= f.text_field :title %><br>
		<%= f.label :image %> <%= f.text_field :image %><br>
		<%= f.label :image_caption %> <%= f.text_field :image_caption%><br>
		<%= f.label :note %> <%= f.text_area :note %></p>
		<p>
		<%= f.submit %>
	</p>
	<% end %>
</section>
